{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    <!--     
        Superadmin
        user: gonzalo
        Pass: tlacuache88



    <div class="img-fluid" style="background-image:url('img/fondo-green.jpg'); height: 1000px;"></div>
    <img src="img/fondo-green.jpg" class="img-fluid" alt="">
    <picture>
        <img src="img/azul-turquesa.jpg" class="img-responsive" style="height: 100% ; width:100%; ">
    </picture>
-->
<div>
    <img src="{% static 'img/flower-heart3.png' %}" alt="" id="corazon">
    
    <img src="{% static 'img/possum-1.jpg' %}" alt="" id="possum">

    <img src="{% static 'img/blossom.png' %}" alt="" id="blossom1">

    <img src="{% static 'img/blossom2.png' %}" alt="" id="blossom2">
</div>
<!-- <div class="bottom-section">
    
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus reprehenderit quo, molestias, voluptatem
        nisi delectus ipsa labore corporis dolores alias eum mollitia sed iure, corrupti quae accusamus! Voluptatem,
        laudantium! Temporibus reiciendis ipsam, sed nemo possimus magnam impedit qui cumque et?</h2>
</div> -->
{% endblock %}